/*  your css code here. If applicable */
 table {
      
      margin: 20px auto;
	 
    }

    th, td {
      border: 1px solid black;
	  border-radius: 5px;
      padding: 8px;
      text-align: center;
    }

 th {
      background-color: #D3D3D3;
    }

    tr:nth-child(odd) td {
      background-color: #ffffff;
    }

    tr:nth-child(even) td {
      background-color: #f2f2f2;
    }